<header>
    <h1>Hello, welcome to {{name}}'s page</h1>
    <h3>{{pageTitle}}</h3>
    <h4>This text is from header.hbs</h4>
    <p><a href="/">Home</a></p>
    <p><a href="/whatever">Whatever, the about page udemy.</a></p>
    <p><a href="/projects">Projects</a></p>
</header>
