<!DOCTYPE html>
<html>
    <head>
        {{> header}}
        <meta charset="utf-8">
        <title>Help Page</title>
    </head>
    <body>
        <p>The text is here</p>
        {{> footer}}
    </body>
</html>